{{template "repo/issue/project/clear_project" dict "." . "UseHTMX" true}}
<div id="insert-timeline" hx-swap-oob="beforebegin">
	{{template "repo/issue/view_content/comments" .}}
</div>
{{template "repo/issue/project/selected" .}}
{{template "repo/issue/view_content/sidebar/project_column" dict "." . "IsOOB" true}}
