{{/* Attributes:
* root
* ContainerClasses
* (TODO: search "branch_dropdown" in the template directory)
*/}}
{{$defaultSelectedRefName := $.root.BranchName}}
{{if and .root.IsViewTag (not .noTag)}}
	{{$defaultSelectedRefName = .root.TagName}}
{{end}}
{{if eq $defaultSelectedRefName ""}}
	{{$defaultSelectedRefName = $.root.Repository.DefaultBranch}}
{{end}}

{{$type := ""}}
{{if and .root.IsViewTag (not .noTag)}}
	{{$type = "tag"}}
{{else if .root.IsViewBranch}}
	{{$type = "branch"}}
{{else}}
	{{$type = "tree"}}
{{end}}

{{$showBranchesInDropdown := not .root.HideBranchesInDropdown}}

<div class="branch-tag-selector {{if .ContainerClasses}}{{.ContainerClasses}}{{end}}">
	{{/* show dummy elements before Vue componment is mounted, this code must match the code in BranchTagSelector.vue */}}
	<div class="ui dropdown custom">
		<button class="branch-dropdown-button gt-ellipsis ui basic small compact button tw-flex tw-m-0">
			<span class="text tw-flex tw-items-center tw-mr-1">
				{{if .release}}
					{{ctx.Locale.Tr "repo.release.compare"}}
				{{else}}
					{{if eq $type "tag"}}
						{{svg "octicon-tag"}}
					{{else}}
						{{svg "octicon-git-branch"}}
					{{end}}
					<strong ref="dropdownRefName" class="tw-ml-2">{{if and .root.IsViewTag (not .noTag)}}{{.root.TagName}}{{else if .root.IsViewBranch}}{{.root.BranchName}}{{else}}{{ShortSha .root.CommitID}}{{end}}</strong>
				{{end}}
			</span>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
		</button>
	</div>
</div>
