{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin user")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "federation.hosts.manage_panel"}} ({{ctx.Locale.Tr "admin.total" .TotalCount}})
		</h4>
		<div class="ui attached table segment">
			<table class="ui very basic striped table unstackable">
				<thead>
					<tr>
						<th data-sortt-asc="id_asc" data-sortt-desc="id_desc">
							{{ctx.Locale.Tr "federation.host.id"}}
							{{SortArrow "id_asc" "id_desc" .SortType true}}
						</th>
						<th data-sortt-asc="fqdn_asc" data-sortt-desc="fqdn_desc">
							{{ctx.Locale.Tr "federation.host.fqdn"}}
							{{SortArrow "fqdn_asc" "fqdn_desc" .SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "federation.host.schema"}}</th>
						<th>{{ctx.Locale.Tr "federation.host.port"}}</th>
						<th>{{ctx.Locale.Tr "federation.host.software_name"}}</th>
						<th data-sortt-asc="created_asc" data-sortt-desc="created_desc">
							{{ctx.Locale.Tr "federation.host.created"}}
							{{SortArrow "created_asc" "created_desc" .SortType true}}
						</th>
						<th data-sortt-asc="activity_asc" data-sortt-desc="activity_desc">
							{{ctx.Locale.Tr "federation.host.latest_activity"}}
							{{SortArrow "activity_asc" "activity_desc" .SortType true}}
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{range .Hosts}}
						<tr>
							<td>{{.ID}}</td>
							<td>{{.HostFqdn}}</td>
							<td>{{.HostSchema}}</td>
							<td>{{.HostPort}}</td>
							<td>{{.NodeInfo.SoftwareName}}</td>
							<td>{{DateUtils.AbsoluteShort .Created}}</td>
							<td>{{DateUtils.FullTime .LatestActivity}}</td>
							<td>
								<div class="tw-flex tw-gap-2">
									<a href="{{$.Link}}/{{.ID}}" data-tooltip-content="{{ctx.Locale.Tr "federation.hosts.show_details"}}">{{svg "octicon-server"}}</a>
								</div>
							</td>
						</tr>
					{{else}}
						<tr><td class="tw-text-center" colspan="10">{{ctx.Locale.Tr "repo.pulls.no_results"}}</td></tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
{{template "admin/layout_footer" .}}
