{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin config")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "federation.stats"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "federation.stats.host_count"}}</dt>
				<dd>{{.HostsTotal}}</dd>
				<dt>{{ctx.Locale.Tr "federation.stats.user_count"}}</dt>
				<dd>{{.UsersTotal}}</dd>
			</dl>
		</div>
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "federation.config"}}
		</h4>
		<div class="ui attached table segment">
			<dl class="admin-dl-horizontal">
				<dt>{{ctx.Locale.Tr "federation.config.enabled"}}</dt>
				<dd>{{if .FederationEnabled}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "federation.config.share_user_statistics"}}</dt>
				<dd>{{if .FederationShareUserStatistics}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
				<dt>{{ctx.Locale.Tr "federation.config.max_size"}}</dt>
				<dd>{{.FederationMaxSize}} MiB</dd>
				<dt>{{ctx.Locale.Tr "federation.config.signature_algorithms"}}</dt>
				<dd>{{.FederationSignatureAlgorithms}}</dd>
				<dt>{{ctx.Locale.Tr "federation.config.digest_algorithm"}}</dt>
				<dd>{{.FederationDigestAlgorithm}}</dd>
				<dt>{{ctx.Locale.Tr "federation.config.get_headers"}}</dt>
				<dd>{{.FederationGetHeaders}}</dd>
				<dt>{{ctx.Locale.Tr "federation.config.post_headers"}}</dt>
				<dd>{{.FederationPostHeaders}}</dd>
				<dt>{{ctx.Locale.Tr "federation.config.signature_enforced"}}</dt>
				<dd>{{if .FederationSignatureEnforced}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</dd>
			</dl>
		</div>
	</div>
{{template "admin/layout_footer" .}}
