{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin user")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "federation.users.manage_panel"}} ({{ctx.Locale.Tr "admin.total" .TotalCount}})
		</h4>
		<div class="ui attached table segment">
			{{template "admin/federation/user_list" .}}
		</div>
	</div>
{{template "admin/layout_footer" .}}
