<details class="dropdown dir-rtl">
	<summary>
		{{svg "octicon-kebab-horizontal"}}
	</summary>
	<div class="content">
		<ul>
			<li>
				{{$referenceUrl := ""}}
				{{if .issue}}
					{{$referenceUrl = printf "%s#%s" .ctxData.Issue.Link .item.HashTag}}
				{{else}}
					{{$referenceUrl = printf "%s/files#%s" .ctxData.Issue.Link .item.HashTag}}
				{{end}}
				<button type="button" class="item context js-aria-clickable" data-clipboard-text-type="url" data-clipboard-text="{{$referenceUrl}}">
					{{ctx.Locale.Tr "repo.issues.context.copy_link"}}
				</button>
			</li>

			{{if and .ctxData.IsSigned (not .ctxData.Repository.IsArchived)}}
				<li>
					<button type="button" class="item context js-aria-clickable quote-reply {{if .diff}}quote-reply-diff{{end}}" data-target="{{.item.HashTag}}-content" data-author="{{.item.Poster.Name}}" data-reference-url="{{$referenceUrl}}" data-context="{{.ctxData.Repository.Link}}">
						{{ctx.Locale.Tr "repo.issues.context.quote_reply"}}
					</button>
				</li>

				{{if not .ctxData.UnitIssuesGlobalDisabled}}
					<li>
						<button type="button" class="item context js-aria-clickable reference-issue" data-target="{{.item.HashTag}}-raw" data-modal="#reference-issue-modal" data-poster="{{.item.Poster.GetDisplayName}}" data-poster-username="{{.item.Poster.Name}}" data-reference="{{$referenceUrl}}">
							{{ctx.Locale.Tr "repo.issues.context.reference_issue"}}
						</button>
					</li>
				{{end}}

				{{if or .ctxData.Permission.IsAdmin .IsCommentPoster .ctxData.HasIssuesOrPullsWritePermission}}
					<hr>
					<li>
						<button type="button" class="item context js-aria-clickable edit-content">
							{{ctx.Locale.Tr "repo.issues.context.edit"}}
						</button>
					</li>

					{{if .delete}}
						<li>
							<button type="button" class="item context js-aria-clickable delete-comment" data-comment-id={{.item.HashTag}} data-url="{{.ctxData.RepoLink}}/comments/{{.item.ID}}/delete" data-locale="{{ctx.Locale.Tr "repo.issues.delete_comment_confirm"}}">
								{{ctx.Locale.Tr "repo.issues.context.delete"}}
							</button>
						</li>
					{{end}}
				{{end}}
			{{end}}

			{{if and .ctxData.IsModerationEnabled .ctxData.IsSigned (not .IsCommentPoster)}}
				{{$contentType := "comment"}}
				{{if eq .item .ctxData.Issue}}
					{{if .ctxData.Issue.IsPull}} {{$contentType = "pull"}} {{else}} {{$contentType = "issue"}} {{end}}
				{{end}}
				<hr>
				<li>
					<a class="item context" href="{{AppSubUrl}}/report_abuse?type={{$contentType}}&id={{.item.ID}}">
						{{ctx.Locale.Tr "moderation.report_content"}}
					</a>
				</li>
			{{end}}
		</ul>
	</div>
</details>
