<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
</head>

{{$recover_url := printf "%suser/recover_account?code=%s" AppUrl (QueryEscape .Code)}}
<body>
	<p>{{.locale.Tr "email.hi_username" (.DisplayName|DotEscape)}}</p>
	<br>
	<p>{{.locale.Tr "email.reset_password.text_1"}}</p>
	<p>{{.locale.Tr "email.reset_password.text_2" .ResetPwdCodeLives}}</p>
	<p><a href="{{$recover_url}}">{{$recover_url}}</a></p>
	<p>{{.locale.Tr "email.link_not_working"}}</p>
	<br>
	<p>{{.locale.Tr "email.reset_password.text_3"}}</p>
	<br>
	{{template "mail_tool/footer_simple" .}}
</body>
</html>
