<div class="ui small basic delete modal">
	<div class="ui icon header">
		{{svg "octicon-trash"}}
		{{.locale.Tr "repo.issues.label_deletion"}}
	</div>
	<div class="content">
		<p>{{.locale.Tr "repo.issues.label_deletion_desc"}}</p>
	</div>
	<div class="actions">
		<div class="ui red basic inverted cancel button">
			<i class="remove icon"></i>
			{{.locale.Tr "modal.no"}}
		</div>
		<div class="ui green basic inverted ok button">
			<i class="checkmark icon"></i>
			{{.locale.Tr "modal.yes"}}
		</div>
	</div>
</div>

<div class="ui small edit-label modal">
	<div class="header">
		{{.locale.Tr "repo.issues.label_modify"}}
	</div>
	<div class="content">
		<form class="ui edit-label inline form ignore-dirty" action="{{$.Link}}/edit" method="post">
			{{.CsrfTokenHtml}}
			<input id="label-modal-id" name="id" type="hidden">
			<div class="required field-set">
				<label for="label_edit_title" class="required">{{.locale.Tr "repo.issues.label_title"}}</label>
				<input id="label_edit_title" class="field new-label-input emoji-input" name="title" placeholder="{{.locale.Tr "repo.issues.new_label_placeholder"}}" autofocus required maxlength="50">
			</div>
			<div class="inline field-set">
				<label for="label_edit_desc">{{.locale.Tr "repo.issues.label_description"}}</label>
				<input id="label_edit_desc" class="field new-label-desc-input" name="description" placeholder="{{.locale.Tr "repo.issues.new_label_desc_placeholder"}}" maxlength="200">
			</div>
			<div class="inline field-set">
				<label for="label_edit_priority">{{.locale.Tr "repo.issues.label_priority"}}</label>
				<select id="label_edit_priority" class="ui field dropdown clearable selection new-label-priority-input" name="priority">
					<option value=""></option>
					{{range $priority := .LabelPriorities}}
					<option value="{{$priority}}">{{$.locale.Tr (printf "repo.issues.label_priority_%s" $priority)}}</option>
					{{end}}
				</select>
			</div>
			<div class="inline field-set">
				<label for="label_edit_color" class="required">{{.locale.Tr "repo.issues.label_color"}}</label>
				<div class="field">
					<div class="color picker">
						<input id="label_edit_color" class="color-picker" name="color" value="#70c24a" required maxlength="7">
					</div>
					<div class="precolors">
						{{template "repo/issue/label_precolors"}}
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="actions">
		<div class="ui negative button">
			{{.locale.Tr "cancel"}}
		</div>
		<div class="ui positive button">
			{{.locale.Tr "save"}}
		</div>
	</div>
</div>
