<div class="ui new-label segment hide">
	<form class="ui inline form" action="{{$.Link}}/new" method="post">
		{{.CsrfTokenHtml}}
		<div class="required field-set">
			<label for="label_new_title" class="required">{{.locale.Tr "repo.issues.label_title"}}</label>
			<input id="label_new_title" class="field new-label-input emoji-input" name="title" placeholder="{{.locale.Tr "repo.issues.new_label_placeholder"}}" autofocus required maxlength="50">
		</div>
		<div class="inline field-set">
			<label for="label_new_desc">{{.locale.Tr "repo.issues.label_description"}}</label>
			<input id="label_new_desc" class="field new-label-desc-input" name="description" placeholder="{{.locale.Tr "repo.issues.new_label_desc_placeholder"}}" maxlength="200">
		</div>
		<div class="inline field-set">
			<label for="label_new_priority">{{.locale.Tr "repo.issues.label_priority"}}</label>
			<select id="label_new_priority" class="ui field dropdown clearable selection new-label-priority-input" name="priority">
				<option value=""></option>
				{{range $priority := .LabelPriorities}}
				<option value="{{$priority}}">{{$.locale.Tr (printf "repo.issues.label_priority_%s" $priority)}}</option>
				{{end}}
			</select>
		</div>
		<div class="inline field-set">
			<label for="label_new_color" class="required">{{.locale.Tr "repo.issues.label_color"}}</label>
			<div class="field">
				<div class="color picker">
					<input class="color-picker" name="color" value="#70c24a" required maxlength="7">
				</div>
				<div class="precolors">
					{{template "repo/issue/label_precolors"}}
				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="ui secondary small basic cancel button">{{.locale.Tr "repo.milestones.cancel"}}</div>
			<button class="ui primary small button">{{.locale.Tr "repo.issues.create_label"}}</button>
		</div>
	</form>
</div>
