<dialog id="push-mirror-edit-modal">
	<article>
		<header>{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.edit_sync_time"}}</header>
		<form class="ui form ignore-dirty" method="post">
			<div class="content">
				<input type="hidden" name="action" value="push-mirror-update">
				<input type="hidden" name="push_mirror_id" id="push-mirror-edit-id">
				<div class="field">
					<label for="name">{{ctx.Locale.Tr "repo.settings.mirror_settings.mirrored_repository"}}</label>
					<div class="ui small input">
						<input id="push-mirror-edit-address" readonly>
					</div>
				</div>
				<div class="inline field">
					<label for="push-mirror-edit-interval">{{ctx.Locale.Tr "repo.mirror_interval" .MinimumMirrorInterval}}</label>
					<div class="ui small input">
						<input id="push-mirror-edit-interval" name="push_mirror_interval" autofocus>
					</div>
				</div>
				<div class="field">
					<label for="push-mirror-edit-branch-filter">{{ctx.Locale.Tr "repo.settings.push_mirror.branch_filter.label"}}</label>
					<div class="ui small input">
						<input id="push-mirror-edit-branch-filter" name="push_mirror_branch_filter" maxlength="2048">
					</div>
					<p class="help">{{ctx.Locale.Tr "repo.settings.push_mirror.branch_filter.description" "https://forgejo.org/docs/latest/user/repo-mirror/#branch-filter" "Forgejo"}}</p>
				</div>
			</div>
			<div class="actions">
				<button class="ui small basic cancel button">
					{{svg "octicon-x"}}
					{{ctx.Locale.Tr "cancel"}}
				</button>
				<button class="ui primary small approve button">
					{{svg "fontawesome-save"}}
					{{ctx.Locale.Tr "save"}}
				</button>
			</div>
		</form>
	</article>
</dialog>
