<div id="empty-ap-feed" class="tw-text-center tw-p-8">
	{{svg "octicon-people" 64 "tw-text-placeholder-text"}}
	<h2>{{ctx.Locale.Tr "user.activitypub_feed.no_activity"}}</h2>
	<p class="help">{{ctx.Locale.Tr "user.activitypub_feed.is_empty"}}</p>
	<p class="help">{{ctx.Locale.Tr "user.activitypub_feed.hint"}}</p>
</div>
