<div class="page-content user notification" id="notification_div" data-params="{{.Page.GetParams}}" data-sequence-number="{{.SequenceNumber}}">
	<div class="ui container">
		{{$notificationUnreadCount := call .NotificationUnreadCount}}

		<div class="ui two column stackable grid">
			<div class="column">
				<div class="ui compact tiny menu">
					<a class="item{{if eq .Status 1}} active{{end}}" href="{{.Link}}/?q=unread">
						{{JsPrettyNumber $notificationUnreadCount}}&nbsp;{{.locale.Tr "notification.unread"}}
					</a>
					<a class="item{{if eq .Status 2}} active{{end}}" href="{{.Link}}/?q=read">
						{{.locale.Tr "notification.read"}}
					</a>
				</div>
			</div>

			<div class="column right aligned df ac je">
				{{if and (eq .Status 1)}}
					<form action="{{AppSubUrl}}/notifications/purge" method="POST" style="margin-left: auto;">
						{{$.CsrfTokenHtml}}
						<div class="{{if not $notificationUnreadCount}}hide{{end}}">
							<button class="ui mini button primary" title='{{$.locale.Tr "notification.mark_all_as_read"}}'>
									{{svg "octicon-checklist"}}
							</button>
						</div>
					</form>
				{{end}}
			</div>
		</div>

		{{if eq (len .Notifications) 0}}
			{{if eq .Status 1}}
				{{.locale.Tr "notification.no_unread"}}
			{{else}}
				{{.locale.Tr "notification.no_read"}}
			{{end}}
		{{else}}
			<div class="issue list" id="notification_list">
				{{range $notification := .Notifications}}
					{{$issue := .Issue}}
					{{$repo := .Repository}}

					<li class="item df py-3">
						<div class="issue-item-left df">
							<div class="issue-item-icon">
								{{if $issue.IsPull}}
									{{if $issue.GetPullRequest.HasMerged}}
										{{svg "octicon-git-merge" 16 "text purple"}}
									{{else}}
										{{if $issue.IsClosed}}
											{{svg "octicon-git-pull-request" 16 "text red"}}
										{{else}}
											{{if $issue.GetPullRequest.IsWorkInProgress}}
												{{svg "octicon-git-pull-request-draft" 16 "text grey"}}
											{{else}}
												{{svg "octicon-git-pull-request" 16 "text green"}}
											{{end}}
										{{end}}
									{{end}}
								{{else}}
									{{if $issue.IsClosed}}
										{{svg "octicon-issue-closed" 16 "text red"}}
									{{else}}
										{{svg "octicon-issue-opened" 16 "text green"}}
									{{end}}
								{{end}}
							</div>
						</div>
						<div class="issue-item-main f1 fc df">
							<div class="issue-item-top-row">
								<a class="title tdn issue-title" href="{{$issue.HTMLURL}}">{{RenderEmoji $issue.Title | RenderCodeBlock}}</a>
							</div>
							<div class="desc issue-item-bottom-row df ac fw my-1">
								<a class="index ml-0 mr-2" href="{{$issue.HTMLURL}}">
									{{$repo.FullName}}#{{$issue.Index}}
								</a>
								- {{TimeSinceUnix $notification.GetLastEventTimestamp $.locale}}
							</div>
						</div>
						<div class="issue-item-icons-right df p-2">
							{{if ne .Status 3}}
								<form action="{{AppSubUrl}}/notifications/status" method="POST">
									{{$.CsrfTokenHtml}}
									<input type="hidden" name="notification_id" value="{{.ID}}"/>
									<input type="hidden" name="status" value="pinned"/>
									<button class="ui mini button" title='{{$.locale.Tr "notification.pin"}}'
													data-url="{{AppSubUrl}}/notifications/status"
													data-status="pinned"
													data-page="{{$.Page.Paginater.Current}}"
													data-notification-id="{{.ID}}"
													data-q="{{$.Keyword}}">
											{{svg "octicon-pin"}}
									</button>
								</form>
							{{end}}

							{{if or (eq .Status 1) (eq .Status 3)}}
								<form action="{{AppSubUrl}}/notifications/status" method="POST">
									{{$.CsrfTokenHtml}}
									<input type="hidden" name="notification_id" value="{{.ID}}"/>
									<input type="hidden" name="status" value="read"/>
									<input type="hidden" name="page" value="{{$.Page.Paginater.Current}}"/>
									<button class="ui mini button" title='{{$.locale.Tr "notification.mark_as_read"}}'
													data-url="{{AppSubUrl}}/notifications/status"
													data-status="read"
													data-page="{{$.Page.Paginater.Current}}"
													data-notification-id="{{.ID}}"
													data-q="{{$.Keyword}}">
											{{svg "octicon-check"}}
									</button>
								</form>
							{{else if eq .Status 2}}
								<form action="{{AppSubUrl}}/notifications/status" method="POST">
									{{$.CsrfTokenHtml}}
									<input type="hidden" name="notification_id" value="{{.ID}}"/>
									<input type="hidden" name="status" value="unread"/>
									<input type="hidden" name="page" value="{{$.Page.Paginater.Current}}"/>
									<button class="ui mini button" title='{{$.locale.Tr "notification.mark_as_unread"}}'
													data-url="{{AppSubUrl}}/notifications/status"
													data-status="unread"
													data-page="{{$.Page.Paginater.Current}}"
													data-notification-id="{{.ID}}"
													data-q="{{$.Keyword}}">
											{{svg "octicon-bell"}}
									</button>
								</form>
							{{end}}
						</div>
					</li>
				{{end}}
			</div>
		{{end}}

		{{template "base/paginate" .}}
	</div>
</div>
