<div class="small-menu-items ui compact tiny menu">
	<a class="{{if eq .State "open"}}active {{end}}item" href="{{if eq .State "open"}}{{.AllStatesLink}}{{else}}{{.OpenLink}}{{end}}">
		{{if .PageIsMilestones}}
			{{svg "octicon-milestone" 16 "tw-mr-2"}}
			{{ctx.Locale.TrN .OpenCount "repo.n_open.milestones_one" "repo.n_open.milestones_few" (ctx.Locale.PrettyNumber .OpenCount)}}
		{{else if .PageIsPullList}}
			{{svg "octicon-git-pull-request" 16 "tw-mr-2"}}
			{{ctx.Locale.TrN .OpenCount "repo.n_open.pulls_one" "repo.n_open.pulls_few" (ctx.Locale.PrettyNumber .OpenCount)}}
		{{else}}
			{{svg "octicon-issue-opened" 16 "tw-mr-2"}}
			{{ctx.Locale.TrN .OpenCount "repo.n_open.issues_one" "repo.n_open.issues_few" (ctx.Locale.PrettyNumber .OpenCount)}}
		{{end}}
	</a>
	<a class="{{if eq .State "closed"}}active {{end}}item" href="{{if eq .State "closed"}}{{.AllStatesLink}}{{else}}{{.ClosedLink}}{{end}}">
		{{svg "octicon-check" 16 "tw-mr-2"}}
		{{if .PageIsMilestones}}
			{{ctx.Locale.TrN .ClosedCount "repo.n_closed.milestones_one" "repo.n_closed.milestones_few" (ctx.Locale.PrettyNumber .ClosedCount)}}
		{{else if .PageIsPullList}}
			{{ctx.Locale.TrN .ClosedCount "repo.n_closed.pulls_one" "repo.n_closed.pulls_few" (ctx.Locale.PrettyNumber .ClosedCount)}}
		{{else}}
			{{ctx.Locale.TrN .ClosedCount "repo.n_closed.issues_one" "repo.n_closed.issues_few" (ctx.Locale.PrettyNumber .ClosedCount)}}
		{{end}}
	</a>
</div>
