<form class="ui form ignore-dirty">
	{{template "shared/search/combo_multi"
		dict
			"Value" .Keyword
			"Disabled" .CodeIndexerUnavailable
			"Placeholder" (ctx.Locale.Tr "search.code_kind")
			"Selected" $.CodeSearchMode
			"Options" $.CodeSearchOptions}}
</form>
<div class="divider"></div>
<div class="ui user list">
	{{if .CodeIndexerUnavailable}}
		<div class="ui error message">
			<p>{{ctx.Locale.Tr "search.code_search_unavailable"}}</p>
		</div>
	{{else}}
		{{if .CodeIndexerDisabled}}
			<div class="ui message" data-test-tag="grep">
				<p>{{ctx.Locale.Tr "search.code_search_by_git_grep"}}</p>
			</div>
		{{end}}
		{{if .SearchResults}}
			{{template "shared/search/code/results" .}}
		{{else if .Keyword}}
			<div>{{ctx.Locale.Tr "search.no_results"}}</div>
		{{end}}
	{{end}}
</div>
