<h4 class="ui top attached header" id="overview">
	{{ctx.Locale.Tr "repo.settings.units.overview"}}
</h4>
<div class="ui attached segment">

	{{$isCodeEnabled := .Repository.UnitEnabled $.Context $.UnitTypeCode}}
	{{$isCodeGlobalDisabled := .UnitTypeCode.UnitGlobalDisabled}}
	<div>
	  <div class="ui checkbox">
		  <input name="enable_code" type="checkbox"{{if $isCodeEnabled}} checked{{end}}>
		  <label><strong>{{ctx.Locale.Tr "repo.code"}}</strong></label>
		</div>
	</div>
	<span class="help">{{ctx.Locale.Tr "repo.code.desc"}}</span>

	{{$isProjectsEnabled := .Repository.UnitEnabled $.Context $.UnitTypeProjects}}
	{{$isProjectsGlobalDisabled := .UnitTypeProjects.UnitGlobalDisabled}}
	<div>
	  <div class="ui checkbox">
		  <input name="enable_projects" type="checkbox"{{if $isProjectsEnabled}} checked{{end}}>
		  <label><strong>{{ctx.Locale.Tr "repo.projects"}}</strong></label>
    </div>
	</div>
	<span class="help">{{ctx.Locale.Tr "repo.settings.projects_desc"}}</span>

	{{$isReleasesEnabled := .Repository.UnitEnabled $.Context $.UnitTypeReleases}}
	{{$isReleasesGlobalDisabled := .UnitTypeReleases.UnitGlobalDisabled}}
	<div>
		<div class="ui checkbox">
			<input name="enable_releases" type="checkbox"{{if $isReleasesEnabled}} checked{{end}}>
			<label><strong>{{ctx.Locale.Tr "repo.releases"}}</strong></label>
		</div>
	</div>
	<span class="help">{{ctx.Locale.Tr "repo.settings.releases_desc"}}</span>


	{{$isPackagesEnabled := .Repository.UnitEnabled $.Context $.UnitTypePackages}}
	{{$isPackagesGlobalDisabled := .UnitTypePackages.UnitGlobalDisabled}}
  <div>
		<div class="ui checkbox">
			<input name="enable_packages" type="checkbox"{{if $isPackagesEnabled}} checked{{end}}>
			<label><strong>{{ctx.Locale.Tr "repo.packages"}}</strong></label>
		</div>
	</div>
	<span class="help">{{ctx.Locale.Tr "repo.settings.packages_desc"}}</span>


	{{if .EnableActions}}
		{{$isActionsEnabled := .Repository.UnitEnabled $.Context $.UnitTypeActions}}
		{{$isActionsGlobalDisabled := .UnitTypeActions.UnitGlobalDisabled}}
		<div>
		  <div class="ui checkbox">
			  <input name="enable_actions" type="checkbox"{{if $isActionsEnabled}} checked{{end}}>
			  <label><strong>{{ctx.Locale.Tr "repo.actions"}}</strong></label>
			</div>
		</div>
		<span class="help">{{ctx.Locale.Tr "repo.settings.actions_desc"}}</span>
	{{end}}

	<div class="divider"></div>

	<div class="field">
		<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.update_settings"}}</button>
	</div>
</div>
