<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
</head>

<body>
	<p>{{.locale.Tr "email.team_invite.text_1" (DotEscape .Inviter.DisplayName) (DotEscape .Team.Name) (DotEscape .Organization.DisplayName)}}</p>
	<p>{{.locale.Tr "email.team_invite.text_2"}}</p>
	<p><a href="{{.InviteURL}}">{{.InviteURL}}</a></p>
	<p>{{.locale.Tr "email.link_not_working"}}</p>
	<p>{{.locale.Tr "email.team_invite.text_3" .Invite.Email}}</p>
	<br>
	{{template "mail_tool/footer_simple" .}}
</body>
</html>
